@{
    ViewData["Title"] = "Home Page - Built by Tanzu Build Service";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Built by TBS</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
